/* CSS Document */

/* body background styling*/
.articleBG{
	background-image:url("../images/articl.jpg");
	background-size: cover;
	margin-top:0px;;
	height: 100%;
	background-repeat: no-repeat;
	
}
table
{
	margin-top: 240px;
	margin-left: 140px;
}
tr,td{
	border:inset #E93033;
	padding:9px;
}